<div>
    <h2>Your Posts</h2>

</div>


<div>
    {{#each post}}
    <div class="postTitle" href="/post/{{post.id}}">
        <h1>
            <a href="/posts/{{post.id}}"> Sample </a>
        </h1>
        <h4 class="postInfo">
            Created on {{post.date}}
        </h4>
    </div>
    {{/each}}

    <button id="createPost"> <a href="/newPost"> New Post </a></button>
</div>
