<div>
    <h2>Your Posts</h2>

    <button id="createPost">New Post</button>
</div>


<div>
    {{#each post}}
    <div class="postTitle" href="/posts/{{post.id}}">
        <h1>
            <a href="/posts/{{post.id}}"> Sample </a>
        </h1>
        <h4 class="postInfo">
            Created on {{post.date}}
        </h4>
    </div>
    {{/each}}
</div>
