<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dev Blog</title>
 
  <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
  <header>
    <h1>Welcome to the Dev Blog!</h1>
    <nav>
    <button href="/">Home</button>
    <button href="/dashboard">Dashboard</button>
   
    <button id="logout">Logout</button>
    
    <button href="/login">Login</button>
   
  </nav>
  </header>
  
  <main>
    <div class="newPost">
      <div>
          <h1>
              Create Post
          </h1>
  
      </div>
      <div class="post-form">
          <textarea type="text" class="newPostTitle" placeholder="Title"></textarea>
          
          <textarea type="text" class="newPostContent" placeholder="content"></textarea>
          
          
      </div>
      <div class="create-btn">
        <button id="createPost">Create Post</button>
      </div>
          
  </div>
  
</body>

</html>