<div >
    <div>
        <h1>
            Sign Up
        </h1>

    </div>
    <div>
        <input type="text" class="newUserName" placeholder="Username">
        
        <input type="text" class="newPassword" placeholder="Password">
        
        <button id='signUpButton' class="signUp"> Sign Up</button>
        
    </div>
        
</div>

<script src="/js/login.js"></script>