<div >
    <div>
        <h1>
            Sign Up
        </h1>

    </div>
    <div>
        <input type="text" class="userName" placeholder="Username">
        
        <input type="text" class="password" placeholder="Password">
        
        <button class="signUp"> Sign Up</button>
        
    </div>
        
</div>