<div>
    
    <div class="postTitle">
        <h1>
            {{post.title}}
        </h1>
        <h4 class="postInfo">
            Created on {{post.date}}
        </h4>
        <p>{{post.content}}</p>
    </div>
    

    <button id="updatePost"> <a href="/updatePost"> New Post </a></button>
    <button id = "deletePost"> Delete Post</button>
</div>