<div class="updatePost">
    <div>
        <h1>
            Update Post
        </h1>

    </div>
    <div>
        <input type="text" class="postTitle" placeholder="{{post.title}}">
        
        <input type="text" class="postContent" placeholder="{{post.content}}">
        
        <button id="updatePost">Update</button>
        <button id="deletePost">Delete</button>
    </div>
        
</div>